/*===========================menu==============================*/
#mu-menu .navbar-default .navbar-nav li > a {
    font-size: 15px;
    padding: 25px 10px;
  }

  #mu-search .mu-search-area {
    padding: 30% 0;
  }
  #mu-menu .navbar-header .navbar-brand {
    font-size: 24px;
  }

  /*==================slider====================================*/

  #mu-slider .mu-slider-single .mu-slider-content h2 {
    font-size: 35px;
    line-height: 65px;
    margin-bottom: 0;
  }

  #mu-slider .mu-slider-single .mu-slider-img {
    height: 380px;
  }

  #mu-slider .mu-slider-single .mu-slider-content a {
    font-size: 15px;
    margin-top: 5px;
    padding: 5px 15px;
  }

  #mu-slider .mu-slider-single .mu-slider-content p {
    font-size: 16px;
    line-height: 1.5;
  }


/*===================services============================*/

  #mu-service .mu-service-area .mu-service-single h3 {
    font-size: 20px;
  }

/*=======================about us==========================*/

  #mu-about-us .mu-about-us-area .mu-about-us-right {
    margin-top: 30px;
  }

  #mu-abtus-counter {
    background-size: 100% 100%;
    padding: 60px 0;
  }

  #mu-abtus-counter .mu-abtus-counter-area .mu-abtus-counter-single span {
    font-size: 40px;
  }

  #mu-abtus-counter .mu-abtus-counter-area .mu-abtus-counter-single h4 {
    font-size: 30px;
    margin-top: 15px;
  }

  #about-video-popup span {
    top: 20px;
    position: absolute;
    right: 20px;
  }

  /*========================features=====================*/

  .mu-title p {
    padding: 0 10px;
  }

  /*==================================latest courses===============================*/

 /* #mu-latest-courses {
    padding: 60px 0 90px;
  }*/
  .mu-latest-course-single{
    width: 100%;
  }

  .course-img-set-height{
    height: 140px;
    overflow: hidden;
  }

  #mu-our-teacher {
    padding: 10px 0 0 0;
    width: 100%;
  }
  #mu-our-teacher .mu-our-teacher-area .mu-our-teacher-content{
    margin-top: 30px;
  }

  #mu-our-teacher .mu-our-teacher-area .mu-our-teacher-content .mu-our-teacher-single {
    margin-bottom: 30px;
  }
/*========================testimonial=====================================*/
  #mu-testimonial .mu-testimonial-area {
    padding: 0 20px;
  }

  #mu-testimonial .mu-testimonial-area .mu-testimonial-content .mu-testimonial-item .mu-testimonial-quote {
    padding: 20px 15px;
  }

  #mu-testimonial .mu-testimonial-area .mu-testimonial-content .mu-testimonial-item .mu-testimonial-quote blockquote::before {
    left: 0;
  }

  #mu-from-blog {
    padding: 60px 0;
  }

  #mu-from-blog .mu-from-blog-area .mu-from-blog-content {
    margin-top: 30px;
  }

  #mu-from-blog .mu-from-blog-area .mu-from-blog-content .mu-blog-single-item .mu-blog-meta a {
    letter-spacing: 0;
    margin-right: 5px;
  }

  #mu-from-blog .mu-from-blog-area .mu-from-blog-content .mu-blog-single-item .mu-blog-single-img .mu-blog-caption h3 {
    font-size: 20px;
  }

  #mu-course-content .mu-course-content-area .mu-sidebar {
    margin-top: 30px;
  }


  #mu-search .mu-search-area .mu-search-form input[type="search"] {
    font-size: 30px;
  }

  #mu-search .mu-search-area .mu-search-close {
    right: 50px;
  }

  #mu-search .mu-search-area {
    padding: 35% 0;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    margin-top: 50px;
  }
  /*================================footer=====================*/
  #mu-footer .mu-footer-top{
    padding: 20px;
  }

  #mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget{
    padding-top: 10px;
  }

  /*=====================Course page style==================*/

.mu-related-item-area #mu-related-item-slide .mu-latest-course-single .mu-latest-course-img{
  height: 150px;
  overflow: hidden;
}

#mu-our-project .container .row .col-md-12 .mu-our-project-content .row{
  height: auto;
  overflow:auto;
  padding: 10px;
}

#mu-our-project .container .row .col-md-12 .mu-our-project-content .row .col-md-5{
  height: 200px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}