/*===================header=============================
#mu-menu .navbar-header .navbar-brand{
  padding:5px;
}
.navbar-brand{
  line-height:normal;
}*/
/*====================slider=============================*/

#mu-slider .mu-slider-single .mu-slider-content {
    padding: 0 10%;
  }

  #mu-slider .mu-slider-single .mu-slider-content {
    top: 13%;
  }

/*====================services============================*/

.slider-below_max-height{
  max-height:280px;
  height:280px;
}

/*======================latest courses=====================*/

.course-div-set-height{
  height:400px;
}

.course-img-set-height{
  height: 180px;
  overflow: hidden;
}

/*=====================Course page style==================*/

.mu-related-item-area #mu-related-item-slide .mu-latest-course-single .mu-latest-course-img{
  height: 160px;
}
