/*=========================social media===========================
  #mu-header .mu-header-area .mu-header-top-left .mu-top-phone {
    display: none;
  }*/

  /*=====================================slider==================================*/

  #mu-slider .mu-slider-single .mu-slider-content h2 {
    font-size: 25px;
    line-height: 50px;
  }

  #mu-slider .mu-slider-single .mu-slider-img {
    height: 350px;
  }

  #mu-slider .mu-slider-single .mu-slider-content h4 {
    letter-spacing: 0;
  }

  #mu-slider .mu-slider-single .mu-slider-img{
    height: 300px;
  }

  /*========================================service================================*/

  #mu-service {
    margin-top: 30px;
  }

  #mu-service .mu-service-area .mu-service-single {
    padding: 20px 5px;
  }

  #mu-service .mu-service-area .mu-service-single h3 {
    font-size: 16px;
  }

  #mu-our-teacher .mu-our-teacher-area .mu-our-teacher-content .mu-our-teacher-single{
    height: auto;
  }

  /*==============================================courses==============================*/

  .mu-latest-course-single{
    width: 100%;
  }

  .course-div-set-height{
    height: 400px;
  }
  
  .course-img-set-height{
    height: 140px;
    overflow: hidden;
  }

/*=====================================testimonial============================================*/

#mu-testimonial{
  padding:20px;
}

  #mu-slider .mu-slider-single .mu-slider-img figure img {
    width: 100%;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
    padding: 5px 10px;
    margin-bottom: 5px;
  }

  #mu-testimonial .mu-testimonial-area .mu-testimonial-content .mu-testimonial-item {
    display:block;
    float: left;
    width: 100%;
    outline: none;
  }
  #mu-testimonial .mu-testimonial-area .mu-testimonial-content .mu-testimonial-item .mu-testimonial-quote {
    border-radius: 4px;
    float: left;
    padding: 20px ;
    padding-bottom: 40px;
    width: 100%;
  }
  .mu-testimonial-detail{
    width: 100%;
    padding: 0;
  }

  /*===================================social media icon===========================*/
  .social-media-icon{
    max-width:40px;
  }
  
  .mu-top-social-nav img{
    max-width:40px;
  }
  /*===================================contact page===============================*/
  .mu-contact-background{
    width: 100%;
    opacity:0.4;
}

.mu-contact-banner{
    width: 100%;
}

.mu-contact-detail{
    position: absolute;
    top:40%;
    width: 100%;
}

.mu-contact-detail li{
    text-align: center;
    padding: 0;
}

.mu-contact-detail img{
    text-align: center;
    padding: 0;
    width: 30px;
}
.mu-contact-background img{
  height: 300px;
  width: auto;
  overflow: hidden;
}

  /*=====================Course page style==================*/

  .mu-related-item-area #mu-related-item-slide .mu-latest-course-single .mu-latest-course-img{
    height: 120px;
    overflow: hidden;
  }
  

