/*============header================

.col-xs-3{
  width: 0%;
}
.col-xs-9{
  width: 100%;
}*/

/*================menu==============*/

.navbar-toggle{
  padding:6px;
}

#mu-menu .navbar-header .navbar-brand{
  font-size: 12px;
  margin-top:5px;
}

#logo{
  height:24px;
  width: 22px;
}

.navbar-brand{
  height: auto;
}


/*===================slider===============*/

#mu-slider .mu-slider-single .mu-slider-content span{
  margin-bottom:6px;
}

#mu-slider .mu-slider-single .mu-slider-content h2{
  margin-bottom:10px;
}

#mu-slider .mu-slider-single .mu-slider-img{
  height: 220px;
}

#mu-slider .mu-slider-single .mu-slider-content h2{
  line-height: 28px;
}

/*==================featurers==================*/
#mu-features .mu-features-area .mu-features-content .mu-single-feature{
  padding: 0px;
}

/*===================latest courses===========*/
.course-img-set-height{
  height:140px;
  overflow: hidden;
}





#mu-about-us .mu-about-us-area .mu-about-us-left h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  #navbar-title .navbar-brand{
    margin-top: 8px;
    font-size:10px;
  }

  /*=====================testimonial===============*/

  #mu-testimonial .mu-testimonial-area .mu-testimonial-content .mu-testimonial-item .mu-testimonial-quote {
    padding: 40px 15px 80px;
  }

  #mu-footer .mu-footer-top {
    padding: 50px 0 10px;
  }

  .mu-pagination .pagination li a {
    padding: 5px 8px;
  }

  .mu-comments-area .comments .commentlist li .news-img {
    margin-right: 0;
  }

  .mu-comments-area .comments .commentlist .children {
    margin-left: 10px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li a {
    margin-bottom: 10px;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
    height: 220px;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 300px;
  }

  #mu-error .mu-error-area p {
    font-size: 18px;
  }

  #mu-error .mu-error-area span {
    font-size: 14px;
  }

  #mu-error .mu-error-area h2 {
    font-size: 100px;
  }

  /*=======================social media icon===================*/
  .social-media-icon{
    max-width:30px;
  }

  .mu-top-social-nav img{
    max-width:30px;
  }

  /*============================chat box======================*/

  .chatbox{
    width:320px;
  }

  .chatbox-button{
    margin: 25px;
  }

   /*=====================Course page style==================*/

   .mu-related-item-area #mu-related-item-slide .mu-latest-course-single .mu-latest-course-img{
    height: 100px;
    overflow: hidden;
  }
  