/*========================header===========================

  
  #mu-header .mu-header-area .mu-header-top-left .mu-top-email {
    font-size: 12px;
    margin-top: 3px;
  }

  #mu-header .mu-header-area .mu-header-top-left .mu-top-email i {
    margin-right: 0;
  }

  #mu-header .mu-header-area .mu-header-top-right .mu-top-social-nav li a {
    font-size: 12px;
    padding: 0 5px;
  }

  #mu-menu .navbar-header .navbar-brand img{
    width: 25px;
  }

  #mu-menu .navbar-header .navbar-brand{
    font-size: 16px;
  }*/
  /*=============================slider========================*/

  #mu-slider .mu-slider-single .mu-slider-content h2 {
    font-size: 18px;
    line-height: 35px;
  }

  #mu-slider .mu-slider-single .mu-slider-content h4 {
    font-size: 15px;
    line-height: 16px;
  }

  #mu-slider .mu-slider-single .mu-slider-content p {
    font-size: 14px;
    line-height: 1.5;
  }

  #mu-slider .mu-slider-single .mu-slider-content {
    padding:0 10%;
  }

  #mu-slider .mu-slider-single .mu-slider-content {
    top: 5%;
  }

  #mu-slider .slick-prev, #mu-slider .slick-next {
    height: 40px;
    width: 40px;
  }

  #mu-slider .mu-slider-single .mu-slider-img {
    height: 220px;
  }

  .slider-below_max-height{
    max-height: unset;
    height: unset;
  }
  
  /*================================menu===============================*/

  #mu-menu .navbar-header .navbar-brand{
    margin-top:8px;
    font-size:12px;
  }

  .logo__max-height{
    height: 25px;
    width:23px;
  }

  /*=================================services=============================*/

  #mu-service .mu-service-area .mu-service-single {
    padding: 20px 15px;
    width: 100%;
  }


  #mu-service .mu-service-area .mu-service-single h3 {
    font-size: 18px;
  }

  #about-video-popup iframe {
    height: 300px;
    margin: 5% auto;
    width: 80%;
  }

  /*===================================course===============================*/

  .mu-latest-course-single{
    width: 100%;
  }

  .course-div-set-height{
    height:400px;
  }
  
  .course-img-set-height{
    height: 220px;
    overflow: hidden;
  }

  /*=========================================teacher===========================*/

  .mu-title p{
    font-size: 15px;
    line-height:1.42;
  }

  /*===========================footer=====================================*/

  #mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form input[type="email"] {
    margin-right: 0;
    width: 100%;
  }

  .mu-pagination {
    text-align: center;
  }

  .mu-pagination .pagination li a {
    font-size: 14px;
    margin: 0 2px;
    padding: 5px 12px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-description h1 {
    font-size: 25px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-description h2 {
    font-size: 22px;
    line-height: 30px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-description h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-description h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li a {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
  }

  #respond input[type="text"], #respond input[type="email"], #respond input[type="url"] {
    width: 100%;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
    height: 280px;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
    margin-bottom: 10px;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 350px;
  }

  /*=================================social media=====================*/

  .social-media-icon{
    max-width:35px;
  }
  .mu-top-social-nav img{
    max-width:35px;
  }