html, body {
    font-family: Segoe UI;
}

.chatbtn {
    width: 56px;
    height: 56px;
    border-radius: 48px;
    background: #08A8B0;
    background-image: url("../img/chatbox/chat.png");
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.chatbox {
    width: 400px;
    height: 500px;
    background: #EBEBEB;
    border-radius: 10px;
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 10;
}

.top {
    width: 100%;
    height: 20%;
    background: #08A8B0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cancel-button{
    float: right;
    margin: 20px;
    font-size: larger;
    color: white;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: white;
    border-top: 1px solid #B4B4B4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.msgbox {
    width: 85%;
    height: 2.5rem;
    border: 0;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    padding-left: 10px;
}

.msgbox:focus {
    outline: none;
}

.centerbox {
    width: 94%;
    height: 75%;
    background: white;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow-y: auto;
}

.recvmsg{
    min-height: 80%;
    height: auto;
    margin: 20px 10px 10px 15px;
    width: 85%;
}

.sendmsg{
    height: auto;
    right: 0;
    position: absolute;
    margin: 20px 15px 10px 10px;
}

.sendername {
    color: gray;
    font-size: 8pt;
    margin-left: 40px;
}

.profilepic {
    width: 36px;
    height: 36px;
    margin-top: 5px;
    background-size: contain;
}

.recvmsgbubble {
    max-width: 70%;
    width: auto;
    height: auto;
    padding: 10px;
    padding-left: 15px;
    background: rgb(240, 240, 240);
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 40px;
    margin-top: -34px;
    font-size: 11pt;
}

.sendmsgbubble {
    width: 70%;
    height: auto;
    padding: 10px;
    padding-left: 15px;
    background: rgb(240, 240, 240);
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 18px;
    margin-top: -24px;
    font-size: 11pt;
}

.btn {
    width: 32px;
    height: 16px;
    background: url('../img/chatbox/send.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    border: 0;
    font-size: 12pt;
    font-weight: bold;
    cursor:pointer;
}

.btn:focus {
    outline: none;
}

.logoicon {
    width: 48px;
    height: 48px;
    background: url('../img/chatbox/chat.png');
    background-size: contain;
    position: absolute;
    left: 20px;
    top: 12px;
    border-radius: 5px;
}

.chatboxname {
    position: absolute;
    left: 80px;
    top: 24px;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.stacked {
    width: 100%;
    border: 0;
    border-radius: 24px;
    box-shadow: 1px 1px 6px gray;
    background: white;
    margin-top: 10px;
    padding: 10px;
    margin-left: 2px;
    margin-right: 6px;
    cursor: pointer;
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 10pt;
    display: block;
    line-height: 9pt;
    user-select: none;
    text-align: center;
}

.continuous {
    border: 0;
    border-radius: 24px;
    box-shadow: 1px 1px 6px gray;
    background: white;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 6px;
    padding: 10px;
    cursor: pointer;
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 10pt;
    display: inline-block;
    width: auto;
    line-height: 9pt;
    user-select: none;
}

.stacked:hover, .continuous:hover {
    background: #08A8B0;
    color: white;
}

.stacked:focus, .continuous:focus {
    outline: none;
}

.stacked:active, .continuous:active {
    background: #000000;
    color: white;
}

.homebtn {
    float: right;
    width: 32px;
    height: 32px;
    background-color: gray;
    position: sticky;
    bottom: 10px;
    right: 10px;
    border-radius: 32px;
    background-image: url('../img/chatbox/home.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

.homebtn:hover {
    background-color: black;
}

#buttongrid {
    margin-left: 36px;
}

.speechbubble {
	position: relative;
	background: #000000;
	border-radius: 20px;
}

.speechbubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #000000;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: black;
    color: white;
  }

.popup:hover {
    background: black;
    color: white;
}
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 1px gray;
    color: #fff;
    text-align: center;
    color: black;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    cursor: default;
    z-index: 1;
    bottom: -200%;
    left: 30%;
    margin-left: -80px;
    padding: 10px 0px 10px 0px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
    
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  .popup .socialicon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 5px;
  }

  /*chatbox button*/
  #chatbox-button{
      visibility: visible;
      position: fixed;
      right: 0;
      bottom: 0;
      background-color:#03989e ;
      color: white;
      border-radius: 50%;
      text-align: center;
      margin: 50px;
      z-index:10;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #chatbox-button:hover{
    background-color:#545454;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  }
  #chatbox-button span{
      width: 100%;
      text-align: center;
      font-size: 20px;
      padding: 20px;
  }
  .cancel-button:hover{
    color: #545454;
  }