
.container{
  width: 90%;
}

/*================================banner============================*/

.course-page-banner img{
  width: 100%;
  max-height: 400px;
}

/*================================description=========================*/

#mu-course-content{
  padding: 20px 0;
}

#mu-course-content .mu-course-content-area .mu-course-container .mu-latest-course-single{
  margin-bottom: 0px;
}

/*=================================Enroll button=====================*/

.enroll-button{
  background-color: #03989e;
  color: white;
  border-radius: 5px;
  float: right;
  padding: 8px;
  font-weight: bold;
}

/*================================sidebar===========================*/

#sidebar-table  td{
  padding:10px;
}

#sidebar-icon{
  text-align:center;
  padding: 10px;
  color: #03989e;
  border: 2px solid #03989e;
  border-radius: 100%;
}

.percentage{
  color: #03989e;
}

.sidebar-related-courses{
  margin-top: 40px;
}

.sidebar-related-courses li{
  margin-top: 20px;
  font-weight:bold;
}

.sidebar-related-courses b{
  padding-bottom: 10px;
}


.sidebar-related-courses #underline::after{
  content: '';
  height: 2px;
  width: 20%;
  background-color: #03989e;
  position: absolute;
}

.sidebar-related-courses .fa{
  float:right;
  font-weight: bold;
}

/*===============================course overview===================*/

#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content h4{
  font-weight: bold;
}

#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content ul{
  padding-left:20px;
}

#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content .bullet li::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:#1f2424; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content .bullet li::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:#03989e; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.bold{
  font-weight: bold;
}

.mu-latest-course-single .mu-latest-course-single-content p{
  text-align: justify;
}

/*===================================syllabus=======================================*/
.panel-group .panel-heading{
  background-color: #03989e;
  border-radius: 4px;
}

.panel-group .panel{
  margin: 5px;
  border-bottom: 1px solid #03989e;
}

.panel-default > .panel-heading{
  color: aliceblue;
}
/*===================================related courses================================*/
.mu-latest-course-single .mu-related-item-area #mu-related-item-slide .slick-prev, .mu-related-item .mu-related-item-area #mu-related-item-slide .slick-next{
  width: 50px;
  height: 50px;
  background-color: #03989e;
}

.mu-latest-course-single .mu-related-item-area #mu-related-item-slide .slick-next, .mu-related-item .mu-related-item-area #mu-related-item-slide .slick-next{
  width: 50px;
  height: 50px;
  background-color: #03989e;
}




