/*================================banner============================*/

.course-page-banner img{
  width: 100%;
  max-height: 400px;
}

/*================================description=========================*/

#mu-course-content{
  padding: 60px 0;
}

#mu-course-content .mu-course-content-area .mu-course-container .mu-latest-course-single{
  margin-bottom: 0px;
}

/*================================sidebar===========================*/

#sidebar-table  td{
  padding:10px;
}

#sidebar-icon{
  text-align:center;
  padding: 10px;
  color: #03989e;
  border: 2px solid #03989e;
  border-radius: 100%;
}

#percentage{
  color: #03989e;
}

/*===============================course overview===================*/

.course_overview{
  list-style: disc;
  list-style-position: inside;
}
.benefits{
  list-style: disc;
  list-style-position: inside;
}
.alpha{
  list-style: lower-alpha;
}